
<!DOCTYPE html>
<html>
    <head>
        <title>email</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
<script>
alert("<%= email %>");
</script>    
<body>
    </body>
</html>


